{
  "env": {
    "node": true
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "standard",
    "prettier"
  ],
  "parser": "babel-eslint",
  "root": true
}
